<table id="customers" class="sortable">
    <tr>
      <th (click)="sortingName('name',1)">Name</th>
      <th (click)="sortingClass('class',2)">Class</th>
      <th (click)="sortingSub1('sub1',3)">Sub1</th>
      <th (click)="sortingSub2('sub2',4)">Sub2</th>
      <th (click)="sortingSub3('sub3',5)">Sub3</th>
    </tr>
    <tr *ngFor="let item of studentData">
      <td>{{item?.name}}</td>
      <td>{{item?.class}}</td>
      <td>{{item?.sub1}}</td>
      <td>{{item?.sub2}}</td>
      <td>{{item?.sub3}}</td>
    </tr>
  </table>